
{% extends "templates/base.html" %}
{% set user_type = current_path.split('/')[1] %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
          <!-- Title -->
          <div class="col-sm-6">
            <h1>Dashboard</h1>
            <p class="text-muted">Dashboard Page</p>
          </div>

          <!-- Breadcrumb -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Core</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <!-- / breadcrumb -->

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- USERS -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Users</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalUsers">0</h3>
                        <p>Total Users</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="usersChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END USERS -->

        <!-- PATIENTS -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Patients</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalPatients">0</h3>
                        <p>Total Patients</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-address-book"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="patientsChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END PATIENTS -->

        <!-- TREATMENT TYPES -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Treatment Types</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalTreatmentTypes">0</h3>
                        <p>Total Treatment Types</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-syringe"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="treatmentTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END TREATMENT TYPES -->


        <!-- LAB REQUESTS -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Total Lab Requests</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalLabRequests">0</h3>
                        <p>Lab Requests</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-file-medical"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="labRequestChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END LAB REQUESTS -->


        <!-- LAB TESTS -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Lab Tests</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalLabTests">0</h3>
                        <p>Total Lab Tests</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-x-ray"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="labTestChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END LAB TESTS -->


        <!-- SURGERIES -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Surgeries</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalSurgeries">0</h3>
                        <p>Total Surgery</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-procedures"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="surgeriesChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END SURGERIES -->


        <!-- SURGERY TYPES -->
        <div class="row">
          <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Surgery Types</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-6">
                      <!-- small card -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3 id="totalSurgeryTypes">0</h3>
                        <p>Total Surgery Types</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-procedures"></i>
                      </div>
                    </div>
                  </div>

                  <div class="chart col-lg-6">
                    <canvas id="surgeryTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END SURGERY TYPES -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  
    <div id="confirmationModal"></div>
  {% endblock %}
  
  {% block scripts %}

  <script defer></script>

<script src="{{ url_for('static', path='/js/pages/admin.index.js') }}"></script>
  {% endblock %}