{% import 'templates/forms.html' as forms %}
{% extends "templates/base.html" %}
{% set active_page = current_path.split('/')[2] %}
{% set user_type = current_path.split('/')[1] %}
{% block content %}

<div id="confirmationModal"></div>

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">

      <!-- Title -->
      <div class="col-sm-6">
        <h1>Lab Requests</h1>
            <p class="text-muted">List of Laboratory Request Transactions</p>
      </div>

      <!-- Breadcrumb -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Core</a></li>
          <li class="breadcrumb-item active">Lab Requests</li>
        </ol>
      </div>
      <!-- / breadcrumb -->

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <!-- Info Boxes -->

    <div class="row">

      <div class="col-md-4 col-sm-6 col-12">

        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-file-medical"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Lab Requests</span>
            <span class="info-box-number" id="totalLabRequests">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="fas fa-file-medical"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Active Lab Requests</span>
            <span class="info-box-number" id="totalLabRequestsActive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="fas fa-file-medical"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Inactive Lab Requests</span>
            <span class="info-box-number" id="totalLabRequestsInactive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

    </div>
    <!-- / Info Boxes -->

    <!-- Card -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <h3 class="card-title">List of Lab Requests</h3>

        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-lab_request"
          onclick="newHandler()">
          <i class="fa fa-plus"></i>
          New Lab Request
        </button>

      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
          <thead>
            <tr>
              <th>Lab Request No</th>
              <th>Patient</th>
              <th>Lab Type</th>
              <th>Lab Service</th>
              <th>Status</th>
              <th>Is Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->


    <!-- MODAL VIEW -->
    <div class="modal fade" id="modal-lab_request-view" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Lab Requests</h4>
            
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                {% include 'templates/card_patient_info.html' %}
                <div class="row">
                  <div class="col-sm-12">
    <div class="card card-primary card-outline">
                        <h6 class="card-header">Lab Request Information</h6>
                        <div class="card-body">
          
                          <div class="row">
                            <div class="col-sm-6">
                              {{ forms.viewItem('Lab Request No','lab_request_no') }}
                            </div>
                            
                          </div><div class="row">
                            <div class="col-sm-6">
                              {{ forms.viewItem('Laboratory Type','lab_type_name') }}
                            </div><div class="col-sm-6">
                              {{ forms.viewItem('Laboratory Service','lab_service_name') }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              {{ forms.viewItem('Quantity','quantity') }}
                            </div>
                            <div class="col-sm-6">
                              {{ forms.viewItem('Status','status') }}
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer float-right">
            <a rel="noopener" onClick="PrintLabRequest()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
            <button type="button" class="btn btn-secondary" onClick="formReset()" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- END OF MODAL VIEW -->


    <div class="modal fade" id="modal-lab_request" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Lab Request</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">

                {{ forms.input('ID', 'id', 'text', '', '', 'col-md-6' )}}
                {{ forms.input('Lab Request No', 'lab_request_no', 'text', '', '', 'col-md-6' )}}
                    {{ forms.select('Patient Type', 'patient_type', 'required', ['Outpatient', 'Inpatient'], 'col-md-6') }}
                    <!-- INPATIENT -->
                    <div class="form-group col-md-6" id="group-inpatient">
                      <label>
                        InPatient
                        <span style="color:red">*</span>
                      </label>
                      <select class="form-control select2" style="width: 100%;" id="inpatient_id" name="inpatient_id">
                      <option selected disabled hidden>Select an Option</option>
                        {% for inpatient in inpatients %}
                        <option value="{{inpatient['id']}}">{{inpatient['last_name']}}, {{inpatient['first_name']}}
                        </option>
                        {% endfor -%}
                      </select>
                    </div>
                    <!-- END INPATIENT -->
                    <!-- OUTPATIENT -->
                    <div class="form-group col-md-6" id="group-outpatient">
                      <label>
                        OutPatient
                        <span style="color:red">*</span>
                      </label>
                      <select class="form-control select2" style="width: 100%;" id="outpatient_id" name="outpatient_id">
                        {% for outpatient in outpatients %}
                        <option value="{{outpatient['id']}}">{{outpatient['last_name']}}, {{outpatient['first_name']}}
                        </option>
                        {% endfor -%}
                      </select>
                    </div>
                    <!-- END OUTPATIENT -->
                    </div>

                    <div class="row">

                <!-- LAB TYPE -->
                <div class="form-group col-md-5" id="group-lab_test_types_id">
                  <label>
                    Lab Type
                    <span style="color:red">*</span>
                  </label>
                  <select class="form-control select2" style="width: 100%;" id="lab_test_types_id" name="lab_test_types_id">
                  </select>
                </div>
                <!-- END LAB TYPE -->
                <!-- LAB SERVICE -->
                <div class="form-group col-md-5" id="group-lab_service_id">
                  <label>
                    Lab Service
                    <span style="color:red">*</span>
                  </label>
                  <select class="form-control select2" style="width: 100%;" id="lab_service_id" name="lab_service_id" required>
                  </select>
                </div>
                <!-- END LAB SERVICE -->

                {{ forms.input('Quantity', 'quantity', 'number', 'required min=1', 1, 'col-md-2' ) }}


              </div>
              <div class="row">
                {{ forms.select('Status', 'status', 'text', ['PENDING', 'CANCELLED', 'PAID - IN-QUEUE', 'PROCESSING', 'DONE'], 'col-md-6') }}
                {{ forms.input('Is Active Status', 'is_active', 'text', 'required', 'ACTIVE', 'col-md-6' ) }}

              </div>
              </div>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-secondary" onClick="formReset()" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="group-btnAdd">
              Yes, submit it!
              <i class="fa fa-check"></i>
            </button>
            <button type="submit" class="btn btn-info" id="group-btnUpdate">
              Yes, update it!
              <i class="fa fa-check"></i>
            </button>
          </div>
          </form>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </div>
</section>
<!-- /.content -->

{% endblock %}

{% block scripts %}
<script defer>

  $('#group-outpatient').hide();
  $('#group-inpatient').hide();
  $('#inpatient_id').val('');
  $('#outpatient_id').val('');
  

  $(() => {
    // STATUS PER PATIENT TYPE
    let status_outpatient=['PENDING', 'CANCELLED', 'PAID - IN-QUEUE', 'PROCESSING', 'DONE'];
    let status_inpatient=['IN-QUEUE', 'PROCESSING', 'DONE - FOR BILLING'];

    $('#lab_service_id').select2();
    $('#inpatient_id').select2();
    $('#outpatient_id').select2();

    $('#patient_type').on('change', (e) => {
      $('#group-inpatient').show();
      $('#group-outpatient').show();

      if(e.target.value == 'Outpatient'){
        $('#inpatient_id').val('');
        $('#group-inpatient').hide();

        $('#status').html(arrToOptions(status_outpatient));
      }else if(e.target.value == 'Inpatient'){
        $('#outpatient_id').val('');
        $('#group-outpatient').hide();

        $('#status').html(arrToOptions(status_inpatient));
      }else{
        $('#outpatient_id').val('');
        $('#group-outpatient').hide();
        $('#inpatient_id').val('');
        $('#group-inpatient').hide();

        $('#status').html('');
      }

    })
  });

// FOR UI
getLaboratoryTypes = () => {
  {
    $.ajax({
      url: BASE_URL + `${window.user_type.toLowerCase()}/laboratory_type/all`,
      type: "GET",
      dataType: "json",
      headers: {
        Accept: "application/json",
        Authorization: "Bearer " + token,
        ContentType: "application/x-www-form-urlencoded",
      },
      success: (data) => {
        if (data.error == false) {
          setLaboratoryTypes(data.data);
        } else {
          notification("error", "Error!", data.message);
        }
      },
      error: (data) => notification("error", data.responseJSON.detail),
    });
  }
};

setLaboratoryTypes = (_data) => {
  window.laboratories = {};
  let lab_types_options = `<option selected disabled hidden>Select an Option</option>`;
  _data.forEach(_type => {
    let services = [];
    lab_types_options += `<option value='${_type?.lab_test_type_name}'>${_type?.lab_test_type_name}</option>`;
    
    _services = _type?.laboratory_services;
    _services.forEach(_service => services.push({id:_service?.id, name:_service?.lab_service_name}))

    window.laboratories[_type?.lab_test_type_name] = services;

  });


  $('#lab_test_types_id').html(lab_types_options);
  $('#lab_test_types_id').on("change", function(){
    let selectedType = $(this).val();
    let lab_service_options = `<option selected disabled hidden>Select an Option</option>`;
    if(selectedType != '')
      laboratories[selectedType].forEach(service => lab_service_options += `<option value='${service?.id}'>${service?.name}</option>`)
    

    $('#lab_service_id').html(lab_service_options);
  } )
  
}

getLaboratoryTypes();
</script>
<script src="{{ url_for('static', path='/js/pages/print/print_lab_request_table.js') }}"></script>
<script src="{{ url_for('static', path='/js/pages/print/print_lab_request.js') }}"></script>
<script src="{{ url_for('static', path='/js/pages/lab_requests.js') }}"></script>
{% endblock %}