{% extends "templates/base.html" %}
{% import 'templates/forms.html' as forms %}
{% set active_page = current_path.split('/')[2] %}
{% set user_type = current_path.split('/')[1] %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
          <!-- Title -->
          <div class="col-sm-6">
            <h1>My Profile</h1>
          </div>


        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid rounded-circle"
                       src="{{ url_for('static', path='/img/avatar.png') }}"
                       alt="User profile picture" id="dp_picture">
                </div>

                <h3 class="profile-username text-center" id="dp_full_name">Juan Pedro</h3>

                <p class="text-muted text-center" id="dp_position">Software Engineer</p>
                <p class="text-muted text-center" id="dp_department">Treatment Management</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">Profile</a></li>
                  <li class="nav-item"><a class="nav-link" href="#account" data-toggle="tab">Account</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="profile">
                    <form class="form-horizontal">
                      <div class="form-group" id="group-account_id">
                        <label>
                          ID
                          <span style="color:red">*</span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="account_id"
                          name="id"
                          placeholder="Input ID"
                          value=""
                          readonly
                        />
                      </div>
                      {{ forms.select('Department', 'department', 'disabled', ['Emergency Room', 'Emergency Department', 'Intensive Care Unit', 'Cardiac Care Unit', 'Nursery', 'Labor and Delivery', 'Surgery', 'Pediatrics'])}}
                      {{ forms.select('Position', 'position', 'disabled', ['Physician', 'Surgeon', 'Nurse'])}}
                      {{ forms.input('First Name', 'first_name', 'text', 'required') }}
                      {{ forms.input('Middle Name', 'middle_name', 'text', '') }}
                      {{ forms.input('Last Name', 'last_name', 'text', 'required') }}
                      {{ forms.input('Suffix Name', 'suffix_name', 'text', '') }}
                      {{ forms.input('Birth Date', 'birth_date', 'text', 'required') }}
                      <!-- {{ forms.input('Picture', 'picture', 'text', '') }} -->
                      <div class="form-group" id="group-account_is_active">
                        <label>
                          ID
                          <span style="color:red">*</span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="account_is_active"
                          name="id"
                          placeholder="Input Is Active"
                          value=""
                          readonly
                        />
                      </div>
                      
                      <!-- <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group row">
                        <div class="offset-sm-10 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>

            {% import 'templates/forms.html' as forms %}
                  <div class="tab-pane" id="account">
                    <form class="form-horizontal">
                      <div class="form-group" id="group-info_id">
                        <label>
                          ID
                          <span style="color:red">*</span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="info_id"
                          name="id"
                          placeholder="Input ID"
                          value=""
                          readonly
                        />
                      </div>
                      {{ forms.input('Email', 'email', 'email', 'required') }}
                      {{ forms.select('User Type', 'user_type', 'text', ['Admin', 'Surgery_Scheduler', 'Surgeon', 'Lab_Technician', 'Physician', 'Nurse']) }}
                      {{ forms.input('Password', 'password', 'password', 'required' ) }}
                      {{ forms.input('User Profile ID', 'user_profile_id', 'text', '', '' )}}
                      <div class="form-group" id="group-info_is_active">
                        <label>
                          ID
                          <span style="color:red">*</span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="info_is_active"
                          name="id"
                          placeholder="Input Is Active"
                          value=""
                          readonly
                        />
                      </div>
                      
                      <!-- <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group row">
                        <div class="offset-sm-10 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div id="confirmationModal"></div>
      </div>
    </section>
    <!-- /.content -->

  
  {% endblock %}
  
  {% block scripts %}

  <script defer>

$("#dp_picture").attr("src", user_profile.photo_url !== null ? `${BASE_URL}static/upload/${user_profile.photo_url}` : '');
$("#dp_position").html(user_profile.position);
$("#dp_department").html(user_profile.department);
$("#dp_full_name").html(`
	${user_profile.first_name} ${user_profile.middle_name || ''} ${user_profile.last_name} ${user_profile.suffix_name || ''}
`);
  </script>

<script src="{{ url_for('static', path='/js/pages/me.js') }}"></script>
  {% endblock %}