{% extends "templates/base.html" %}
{% set active_page = current_path.split('/')[3] %}
{% set user_type = current_path.split('/')[1] %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">

      <!-- Title -->
      <div class="col-sm-6">
        <h1>User Profiles</h1>
        <p class="text-muted">List of User Profiles</p>
      </div>

      <!-- Breadcrumb -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Core</a></li>
          <li class="breadcrumb-item active">User Profiles</li>
        </ol>
      </div>
      <!-- / breadcrumb -->

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <!-- Info Boxes -->
    <div class="row">

      <div class="col-md-4 col-sm-6 col-12">

        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-address-card"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">User Profiles</span>
            <span class="info-box-number" id="totalUserProfiles">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="far fa-address-card"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Active User Profiles</span>
            <span class="info-box-number" id="totalUserProfilesActive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="far fa-address-card"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Inactive User Profiles</span>
            <span class="info-box-number" id="totalUserProfilesInactive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

    </div>
    <!-- / Info Boxes -->

    <!-- Card -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <h3 class="card-title">List of User Profiles</h3>


        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-profile"
          onclick="newHandler()">
          <i class="fa fa-plus"></i>
          New User Profile
        </button>
      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Position</th>
              <th>Department</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->


    <div class="modal fade" id="modal-profile" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">User Profile</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form" enctype="multipart/form-data">
              {% import 'templates/forms.html' as forms %}
              <div class="card-body">
                <div>
                  <label for="image" class="form-label">Image</label>
                  <div>
                    <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="" class="rounded avatar-lg img-thumbnail"
                      style="object-fit: cover;" id="photo_url_placeholder" name="photo_url_placeholder" height="150"
                      width="150">
                  </div>
                  <input class="form-control" type="file" id="file" name="file" accept="image/*" style="display:none">
                  <input type="hidden" name="photo_url">
                </div>


                {{ forms.input('ID', 'id', 'text', '', '' )}}
                <!-- {{ forms.input('Department', 'department', 'text', 'required') }} -->
                <!-- {{ forms.input('Position', 'position', 'text', 'required') }} -->
                {{ forms.select('Department', 'department', 'text', ['Emergency Room', 'Emergency Department',
                'Intensive Care Unit', 'Cardiac Care Unit', 'Nursery', 'Labor and Delivery', 'Surgery', 'Pediatrics'])
                }}
                {{ forms.select('Position', 'position', 'text', ['Physician', 'Surgeon', 'Nurse']) }}
                {{ forms.input('First Name', 'first_name', 'text', 'required') }}
                {{ forms.input('Middle Name', 'middle_name', 'text', '') }}
                {{ forms.input('Last Name', 'last_name', 'text', 'required') }}
                {{ forms.input('Suffix Name', 'suffix_name', 'text', '') }}
                {{ forms.input('Birth Date', 'birth_date', 'text', 'required') }}
                <!-- {{ forms.input('Picture', 'picture', 'text', '') }} -->
                {{ forms.input('Is Active Status', 'is_active', 'text', 'required', 'ACTIVE' ) }}

              </div>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-secondary" onClick="formReset()" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="group-btnAdd">
              Yes, submit it!
              <i class="fa fa-check"></i>
            </button>
            <button type="submit" class="btn btn-info" id="group-btnUpdate">
              Yes, update it!
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
        </form>
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div id="confirmationModal"></div>

  </div>
</section>
<!-- /.content -->

{% endblock %}

{% block scripts %}

<script defer>
  $("#department").select2();
  $("#birth_date").daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    locale: {
      format: 'YYYY-MM-DD'
    },
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'), 10)
  });

</script>

<script src="{{ url_for('static', path='/js/pages/profiles.js') }}"></script>
{% endblock %}