{% extends "templates/base.html" %}
{% set active_page = current_path.split('/')[2] %}
{% set user_type = current_path.split('/')[1] %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">

      <!-- Title -->
      <div class="col-sm-6">
        <h1>Surgeries</h1>
        <p class="text-muted">Surgery Schedule and Transactions</p>
      </div>

      <!-- Breadcrumb -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Core</a></li>
          <li class="breadcrumb-item active">Surgeries</li>
        </ol>
      </div>
      <!-- / breadcrumb -->

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <!-- Info Boxes -->

    <div class="row">

      <div class="col-md-4 col-sm-6 col-12">

        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-procedures"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Surgeries</span>
            <span class="info-box-number" id="totalSurgeries">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="fas fa-procedures"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Active Surgeries</span>
            <span class="info-box-number" id="totalSurgeriesActive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="fas fa-procedures"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Inactive Surgeries</span>
            <span class="info-box-number" id="totalSurgeriesInactive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

    </div>
    <!-- / Info Boxes -->

    <!-- Card -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <h3 class="card-title">List of Surgeries</h3>

        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-surgery"
          onclick="newHandler()">
          <i class="fa fa-plus"></i>
          New Surgery
        </button>

      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">

        <div class="row">
          <div class="col-9"></div>

          <div class="col-3">
            <div class="form-group">

              <div style="opacity:0;filter:alpha(opacity=0);width:0;overflow:hidden;">
                <input class="form-control-sm" type="text" id="filter_date">
              </div>

              Filter Date:
              <select class="form-control-sm" id="filter_select">
                <option value="ALL">ALL</option>
                <option value="TODAY">TODAY</option>
                <option value="THIS WEEK">THIS WEEK</option>
                <option value="THIS MONTH">THIS MONTH</option>
                <option value="THIS YEAR">THIS YEAR</option>
                <option value="CUSTOM">CUSTOM</option>
              </select>
            </div>
          </div>
        </div>

        <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
          <thead>
            <tr>
              <th>Surgery No</th>
              <th>Patient</th>
              <th>Room</th>
              <th>Surgery Type</th>
              <th>Schedule Start(DATE)</th>
              <th>Schedule Start</th>
              <th>Schedule End</th>
              <th>Status</th>
              <th>Is Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->



    <div class="modal fade" id="modal-surgery" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Surgery</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form">
              {% import 'templates/forms.html' as forms %}
              <div class="card-body">

                {{ forms.input('ID', 'id', 'text', '', '' )}}
                {{ forms.input('Surgery No', 'surgery_no', 'text', '', '' )}}
                <!-- SURGERY TYPE -->
                <div class="form-group" id="group-surgery_type_id">
                  <label>
                    Surgery Type
                    <span style="color:red">*</span>
                  </label>
                  <select class="form-control select2" style="width: 100%;" id="surgery_type_id" name="surgery_type_id">
                    {% for surgery_type in surgery_types %}
                    <option value="{{surgery_type['id']}}">{{surgery_type['name']}}</option>
                    {% endfor -%}
                  </select>
                </div>
                <!-- END SURGERY TYPE -->

                <!-- PATIENT-->
                <div class="form-group" id="group-patient_id">
                  <label>
                    Patient
                    <span style="color:red">*</span>
                  </label>
                  <select class="form-control select2" style="width: 100%;" id="patient_id" name="patient_id">
                    {% for patient in patients %}
                    <option value="{{patient['id']}}">{{patient['first_name']}}</option>
                    {% endfor -%}
                  </select>
                </div>
                <!-- END PATIENT -->

                {{ forms.input('Room', 'room', 'text', 'required' ) }}
                {{ forms.input('Schedule', 'start_time', 'text', 'required' ) }}
                {{ forms.input('Surgery Ended', 'end_time', 'text' ) }}
                {{ forms.select('Status', 'status', 'text', ['PENDING', 'IN-PROCESS', 'DONE', 'CANCELLED']) }}
                {{ forms.input('Is Active Status', 'is_active', 'text', 'required', 'ACTIVE' ) }}

                <div class="form-group" id="group-nurse_in_charge">
                  <label>
                    Surgical Nurse In Charge
                    <span style="color:red">*</span>
                  </label>
                  <select class="form-control select2" style="width: 100%;" id="nurse_in_charge" name="nurse_in_charge"
                    multiple="multiple"></select>
                </div>
                <div class="form-group" id="group-surgeon_in_charge">
                  <label>
                    Surgeon In Charge
                    <span style="color:red">*</span>
                  </label>
                  <select class="form-control select2" style="width: 100%;" id="surgeon_in_charge"
                    name="surgeon_in_charge" multiple="multiple"></select>
                </div>

              </div>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-secondary" onClick="formReset()" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="group-btnAdd">
              Yes, submit it!
              <i class="fa fa-check"></i>
            </button>
            <button type="submit" class="btn btn-info" id="group-btnUpdate">
              Yes, update it!
              <i class="fa fa-check"></i>
            </button>
          </div>
          </form>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div id="confirmationModal"></div>
  </div>
</section>
<!-- /.content -->

{% endblock %}

{% block scripts %}
<script defer>
  const surgery_types = JSON.parse(' {{surgery_types|tojson}} ');
  const patients = JSON.parse(' {{patients|tojson}} ');
  const surgeons = JSON.parse(' {{surgeons|tojson}} ');
  const nurses = JSON.parse(' {{nurses|tojson}} ');

  console.log(surgeons)
  console.log(nurses)

  $(() => {
    $('#surgeon_in_charge').select2();
    $('#nurse_in_charge').select2();
    $('#surgery_type_id').select2();
    $('#patient_id').select2();
    $("#end_time").daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      showDropdowns: true,
      locale: {
        format: 'YYYY-MM-DD hh:mm:ss'
      },
      minYear: 1901,
    });
    $("#start_time").daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      showDropdowns: true,
      locale: {
        format: 'YYYY-MM-DD hh:mm:ss'
      },
      minYear: 1901,
    });


    // FILTER DATE

    $("#filter_date").daterangepicker({
      showDropdowns: true,
      showWeekNumbers: true,
      alwaysShowCalendars: true,
      startDate: moment().subtract(30, 'year').startOf('month'),
      endDate: moment().endOf('month'),
      locale: {
        format: 'YYYY-MM-DD',
        firstDay: 1,
      },
      minYear: 1901,
      // ranges: {
      //   'All time': [moment().subtract(30, 'year').startOf('month'), moment().endOf('month')],
      //   'Today': [moment(), moment()],
      //   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
      //   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
      //   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
      //   'This Month': [moment().startOf('month'), moment().endOf('month')],
      //   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
      //   'This Year': [moment().startOf('year'), moment().endOf('year')],
      //   'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
      // }
    });

    let dateInterval = $("#filter_date").val();
    if (dateInterval) {
      dateInterval = dateInterval.split(' - ');
      start = dateInterval[0];
      end = dateInterval[1];
    }

    $.fn.dataTable.ext.search.push(
      function (settings, data, dataIndex) {
        let dateInterval = $("#filter_date").val();
        if (dateInterval) {
          dateInterval = dateInterval.split(' - ');
          start = dateInterval[0];
          end = dateInterval[1];
        }
        var min = new Date(start);
        var max = new Date(end);
        var date = new Date(data[3]);

        if (
          (min === null && max === null) ||
          (min === null && date <= max) ||
          (min <= date && max === null) ||
          (min <= date && date <= max)
        ) {
          return true;
        }
        return false;
      }
    );



  });
</script>
<script src="{{ url_for('static', path='/js/pages/surgeries.js') }}"></script>
{% endblock %}