{% import 'templates/forms.html' as forms %}
{% extends "templates/base.html" %}
{% set active_page = current_path.split('/')[2] %}
{% set user_type = current_path.split('/')[1] %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">

      <!-- Title -->
      <div class="col-sm-6">
        <h1>Treatments</h1>
        <p class="text-muted">Treatment Transactions</p>
      </div>

      <!-- Breadcrumb -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Core</a></li>
          <li class="breadcrumb-item active">Treatments</li>
        </ol>
      </div>
      <!-- / breadcrumb -->

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <!-- Info Boxes -->

    <div class="row">

      <div class="col-md-4 col-sm-6 col-12">

        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-syringe"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Treatments</span>
            <span class="info-box-number" id="totalTreatments">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="fas fa-syringe"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Active Treatments</span>
            <span class="info-box-number" id="totalTreatmentsActive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="fas fa-syringe"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Inactive Treatments</span>
            <span class="info-box-number" id="totalTreatmentsInactive">0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- ./col -->
      </div>

    </div>
    <!-- / Info Boxes -->

    <!-- Card -->
    <div class="card card-primary card-outline">

      <!-- Card Header -->
      <div class="card-header">
        <h3 class="card-title">List of Treatments</h3>

        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-treatment"
          onclick="newHandler()">
          <i class="fa fa-plus"></i>
          New Treatment
        </button>

      </div>
      <!-- /.card-header -->

      <!-- Card Body -->
      <div class="card-body">
        <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
          <thead>
            <tr>
              <th>Treatment No</th>
              <th>Patient</th>
              <th>Treatment Type</th>
              <th>Treatment Service</th>
              <th>Physician</th>
              <th>Description</th>
              <th>Status</th>
              <th>Is Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->


    <!-- MODAL VIEW -->
    <div class="modal fade" id="modal-treatment-view" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Treatment</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">

            {% include 'templates/card_patient_info.html' %}
              
              <div class="row">
                <div class="col-sm-12">
                  <div class="card card-primary card-outline">
                    <h6 class="card-header">Treatment Information</h6>
                    <div class="card-body">

                      <div class="row">
                        <div class="col-sm-12">
                          {{ forms.viewItem('Treatment No','treatment_no') }}
                        </div>
                      </div>
<div class="row">
                            <div class="col-sm-6">
                              {{ forms.viewItem('Treatment Type','treatment_type_name') }}
                            </div><div class="col-sm-6">
                              {{ forms.viewItem('Treatment Service','treatment_service_name') }}
                            </div>
                          </div>
                      
                      <div class="row">
                        <div class="col-sm-12">
                          {{ forms.viewItem('Description','description') }}
                        </div>
                      </div><div class="row">
                        <div class="col-sm-6">
                          {{ forms.viewItem('Room','room') }}
                        </div>
                        <div class="col-sm-6">
                          {{ forms.viewItem('Quantity','quantity') }}
                        </div>
                      </div><div class="row">
                        <div class="col-sm-6">
                          {{ forms.viewItem('Physician','physician_name') }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          {{ forms.viewItem('Session No.','session_no') }}
                        </div>
                        <div class="col-sm-6">
                          {{ forms.viewItem('Session Date/Time','session_datetime') }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          {{ forms.viewItem('Drug','drug') }}
                        </div>
                        <div class="col-sm-6">
                          {{ forms.viewItem('Dose','dose') }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          {{ forms.viewItem('Next Schedule','next_schedule') }}
                        </div>
                        <div class="col-sm-6">
                          {{ forms.viewItem('Comments','comments') }}
                        </div>
                      </div>
                      <div class="row">
                        
                        <div class="col-sm-6">
                          {{ forms.viewItem('Status','status') }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer float-right">
            <a rel="noopener" onClick="PrintTreatment()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
            <button type="button" class="btn btn-secondary" onClick="formReset()" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- END OF MODAL VIEW -->



    <div class="modal fade" id="modal-treatment" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Treatment</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form">
                <div class="container-fluid">

                  
                  <div class="row">

                    {{ forms.input('ID', 'id', 'text', 'hidden', '' )}}
                    {{ forms.input('Treatment No', 'treatment_no', 'text', '', '' )}}
                    </div>

<div class="row">
                  <!-- TREATMENT TYPE -->
                  <div class="form-group col-md-6" id="group-treatment_types_id">
                    <label>
                      Treatment Type
                      <span style="color:red">*</span>
                    </label>
                    <select class="form-control select2" style="width: 100%;" id="treatment_types_id" name="treatment_types_id">
                    </select>
                  </div>
                  <!-- END TREATMENT TYPE -->
                  <!-- TREATMENT SERVICE -->
                  <div class="form-group col-md-6" id="group-treatment_service_id">
                    <label>
                      Treatment Service
                      <span style="color:red">*</span>
                    </label>
                    <select class="form-control select2" style="width: 100%;" id="treatment_service_id" name="treatment_service_id" required>
                    </select>
                  </div>
                  <!-- END TREATMENT SERVICE -->

                    </div>

                    <div class="row">

                      {{ forms.input('Room', 'room', 'text', 'required', "", 'col-md-3' ) }}
                      {{ forms.input('Quantity', 'quantity', 'number', 'required min=1',1, 'col-md-3') }}
                  </div>

                  <div class="row">
                    {{ forms.select('Patient Type', 'patient_type', 'required', ['','Outpatient', 'Inpatient'], 'col-md-6') }}
                    <!-- OUTPATIENT -->
                    <div class="form-group col-md-6" id="group-outpatient">
                      <label>
                        OutPatient
                        <span style="color:red">*</span>
                      </label>
                      <select class="form-control select2" style="width: 100%;" id="outpatient_id" name="outpatient_id">
                        {% for outpatient in outpatients %}
                        <option value="{{outpatient['id']}}">{{outpatient['last_name']}}, {{outpatient['first_name']}}
                        </option>
                        {% endfor -%}
                      </select>
                    </div>
                    <!-- END OUTPATIENT -->
                    <!-- INPATIENT -->
                    <div class="form-group col-md-6" id="group-inpatient">
                      <label>
                        InPatient
                        <span style="color:red">*</span>
                      </label>
                      <select class="form-control select2" style="width: 100%;" id="inpatient_id" name="inpatient_id">
                        {% for inpatient in inpatients %}
                        <option value="{{inpatient['id']}}">{{inpatient['last_name']}}, {{inpatient['first_name']}}
                        </option>
                        {% endfor -%}
                      </select>
                    </div>
                    <!-- END INPATIENT -->
                  </div>
                  <div class="row">
                    <!-- PHYSICIAN -->
                    <div class="form-group col-md-6" id="group-physician_id">
                      <label>
                        Physician
                        <span style="color:red">*</span>
                      </label>
                      <select class="form-control select2" style="width: 100%;" id="physician_id" name="physician_id">
                        {% for physician in physicians %}
                        <option value="{{physician['id']}}">{{physician['user_profile']['last_name']}},
                          {{physician['user_profile']['first_name']}}</option>
                        {% endfor -%}
                      </select>
                    </div>
                    <!-- END PHYSICIAN  -->


                  </div>
                  <div class="row">
                    {{ forms.input('Session No.', 'session_no', 'number', 'required min=1', 1, 'col-md-6' ) }}
                    {{ forms.input('Session Date/Time', 'session_datetime', 'datetime-local', 'required','', 'col-md-6') }}
                  </div>
                  <div class="row">
                    {{ forms.input('Drug', 'drug', 'text','','','col-md-6') }}
                    {{ forms.input('Dose', 'dose', 'text','','','col-md-6') }}
                  </div>
                  <div class="row">
                    {{ forms.input('Next Schedule', 'next_schedule', 'datetime-local','','','col-md-6') }}
                    {{ forms.textarea('Comments', 'comments', 'required', '', 'col-md-6' ) }}
                  </div>

                  

                  <div class="row">
                    {{ forms.textarea('Description', 'description', 'required','','col-md-6' ) }}
                    {{ forms.select('Status', 'status', 'text',['PENDING', 'ONGOING', 'DONE'], 'col-md-6') }}
                  </div>

                    {{ forms.input('Is Active Status', 'is_active', 'text', 'required', 'ACTIVE', 'col-md-4' ) }}
                </div>
          </div>
        <div class="modal-footer float-right">
          <button type="button" class="btn btn-secondary" onClick="formReset()" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="group-btnAdd">
            Yes, submit it!
            <i class="fa fa-check"></i>
          </button>
          <button type="submit" class="btn btn-info" id="group-btnUpdate">
            Yes, update it!
            <i class="fa fa-check"></i>
          </button>
        </div>

        </form>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div id="confirmationModal"></div>
  </div>
</section>
<!-- /.content -->

{% endblock %}

{% block scripts %}
<script defer>

  $('#group-outpatient').hide();
  $('#group-inpatient').hide();
  $('#inpatient_id').val('');
  $('#outpatient_id').val('');

  $(() => {
    // STATUS PER PATIENT TYPE
    let status_outpatient=['PENDING', 'ONGOING', 'DONE'];
    let status_inpatient=['PENDING', 'ONGOING', 'DONE - FOR BILLING'];

    // $('#treatment_service_id').select2();
    $('#inpatient_id').select2();
    $('#outpatient_id').select2();
    $('#physician_id').select2();


    $('#patient_type').on('change', (e) => {
      $('#group-inpatient').show();
      $('#group-outpatient').show();

      if(e.target.value == 'Outpatient'){
        $('#inpatient_id').val('');
        $('#group-inpatient').hide();

        $('#status').html(arrToOptions(status_outpatient));
      }else if(e.target.value == 'Inpatient'){
        $('#outpatient_id').val('');
        $('#group-outpatient').hide();

        $('#status').html(arrToOptions(status_inpatient));
      }else{
        $('#outpatient_id').val('');
        $('#group-outpatient').hide();
        $('#inpatient_id').val('');
        $('#group-inpatient').hide();

        $('#status').html('');
      }
    })
  });

// FOR UI
getTreatmentTypes = () => {
  {
    $.ajax({
      url: BASE_URL + `${window.user_type.toLowerCase()}/treatment_type/all`,
      type: "GET",
      dataType: "json",
      headers: {
        Accept: "application/json",
        Authorization: "Bearer " + token,
        ContentType: "application/x-www-form-urlencoded",
      },
      success: (data) => {
        if (data.error == false) {
          setTreatmentTypes(data.data);
        } else {
          notification("error", "Error!", data.message);
        }
      },
      error: (data) => notification("error", data.responseJSON.detail),
    });
  }
};

setTreatmentTypes = (_data) => {
  window.treatments = {};
  let treatment_types_options = `<option selected disabled hidden>Select an Option</option>`;
  _data.forEach(_type => {
    let services = [];
    treatment_types_options += `<option value='${_type?.treatment_type_name}'>${_type?.treatment_type_name}</option>`;
    
    _services = _type?.treatment_services;
    _services.forEach(_service => services.push({id:_service?.id, name:_service?.treatment_service_name}))

    window.treatments[_type?.treatment_type_name] = services;
  });


  $('#treatment_types_id').html(treatment_types_options);
  $('#treatment_types_id').on("change", function(){
    let selectedType = $(this).val();
    let treatment_service_options = ``;
    if(selectedType != '')
      treatments[selectedType].forEach(service => treatment_service_options += `<option value='${service?.id}'>${service?.name}</option>`)

    $('#treatment_service_id').html(treatment_service_options);
  } )
  
}

getTreatmentTypes();
</script>
<script src="{{ url_for('static', path='/js/pages/print/print_treatment_table.js') }}"></script>
<script src="{{ url_for('static', path='/js/pages/print/print_treatment.js') }}"></script>

<script src="{{ url_for('static', path='/js/pages/treatments.js') }}"></script>
{% endblock %}