{% macro input(title, name, type='text', attr="", value='', group_class='') -%}
<div class="form-group {{group_class}} " id="group-{{ name }}" {{attr}}>
  <label>
    {{ title }}
    {% if attr=='required' -%}
    <span style="color:red">*</span>
    {% endif -%}
  </label>
  <input
    type="{{ type }}"
    class="form-control"
    id="{{ name }}"
    name="{{ name }}"
    placeholder="Input {{ title }}"
    value="{{ value }}"
    {{ attr }}
  />
</div>
{%- endmacro %} 

{% macro textarea(title, name, attr='', value='', group_class='') -%}
    <!-- textarea -->
    <div class="form-group {{group_class}} " id="group-{{ name }}" {{attr}}>
      <label>
        {{ title }}
        {% if attr=='required' -%}
        <span style="color:red">*</span>
        {% endif -%}
      </label>
      <textarea id="{{name}}" name="{{name}}" class="form-control" rows="3" placeholder="Input {{ title }}..." {{attr}}>{{ value }}</textarea>
    </div>
{%- endmacro %} 

{% macro select(title, name, attr='', options=[], group_class='') -%}
    <!-- select -->
    <div class="form-group {{group_class}} " id="group-{{ name }}" {{attr}}>
      <label>
        {{ title }}
        <span style="color:red">*</span>
      </label>
      <select class="form-control select2" style="width: 100%;" id="{{name}}" name={{name}}>
        <option selected disabled hidden>Select an Option</option>
        {% for option in options -%}
            <option value="{{option}}">{{option}}</option>
        {% endfor -%}
      </select>
    </div>
{%- endmacro %} 




{% macro viewItem(title, name) -%}
<div class="d-flex align-items-baseline">
  <div>
    <label>{{title}}:&nbsp;</label>
  </div>
  <div>
    <p id="{{name}}View">None</p>
  </div>
</div>
{%- endmacro %} 