{% macro input(title, name, type='text', attr="", value='') -%}
<div class="form-group" id="group-{{ name }}" {{attr}}>
  <label>{{ title }}</label>
  <input
    type="{{ type }}"
    class="form-control"
    id="{{ name }}"
    name="{{ name }}"
    placeholder="Input {{ title }}"
    value="{{ value }}"
    {{ attr }}
  />
</div>
{%- endmacro %} 

{% macro textarea(title, name, attr='', value='') -%}
    <!-- textarea -->
    <div class="form-group" id="group-{{ name }}" {{attr}}>
      <label>{{ title }}</label>
      <textarea id="{{name}}" name="{{name}}" class="form-control" rows="3" placeholder="Input {{ title }}..." {{attr}}>{{ value }}</textarea>
    </div>
{%- endmacro %} 