{% macro input(title, name, type='text', value='') -%}
<div class="form-group">
  <label>{{ title }}</label>
  <input
    type="{{ type }}"
    class="form-control"
    id="{{ name }}"
    name="{{ name }}"
    placeholder="Input {{ title }}"
    value="{{ value }}"
  />
</div>
{%- endmacro %} 

{% macro textarea(title, name, value='') -%}
    <!-- textarea -->
    <div class="form-group">
      <label>{{ title }}</label>
      <textarea class="form-control" rows="3" placeholder="Input {{ title }}...">{{ value }}</textarea>
    </div>
{%- endmacro %} 