{% set user_type = user_type.lower() -%}
{% if user_type == 'surgery_scheduler' or user_type == 'surgeon' or user_type == 'surgical_nurse' -%}
{% set navigation_core = [
  ('/', 'index', 'Home', 'fa-home'),
  ] -%}
{% set navigation_surgery = [
  ('/surgery', 'surgery', 'Surgeries', 'fa-procedures'),
  ('/surgery_type', 'surgery_type', 'Surgery Types', 'fa-procedures')
  ] -%}
{% endif -%}

{% if user_type == 'lab_technician' or user_type == 'lab_receptionist' -%}
{% set navigation_core = [
  ('/', 'index', 'Home', 'fa-home'),
  ] -%}
{% set navigation_lab = [
  ('/lab_test', 'lab_test', 'Lab Tests', 'fa-x-ray'),
  ('/lab_result', 'lab_result', 'Lab Results', 'fa-file-medical-alt'),
  ('/lab_request', 'lab_request', 'Lab Requests', 'fa-file-medical')
  ] -%}
{% endif -%}

{% if user_type == 'medical_specialist' -%}
{% set navigation_core = [
  ('/', 'index', 'Home', 'fa-home'),
  ] -%}
{% set navigation_treatment = [
  ('/treatment', 'treatment', 'Treatments', 'fa-syringe'),
  ('/treatment_type', 'treatment_type', 'Treatment Types', 'fa-syringe')
  ] -%}
{% endif -%}

{% if user_type == 'admin' -%}
{% set navigation_core = [
  ('/', 'index', 'Home', 'fa-home'),
  ('/user', 'user', 'Users', 'fa-users'),
  ('/profile', 'profile', 'User Profiles', 'fa-address-card'),
  ('/patient', 'patient', 'Patients', 'fa-address-book')
  ] -%}

{% set navigation_surgery = [
  ('/surgery', 'surgery', 'Surgeries', 'fa-procedures'),
  ('/surgery_type', 'surgery_type', 'Surgery Types', 'fa-procedures')
  ] -%}

{% set navigation_lab = [
  ('/lab_test', 'lab_test', 'Lab Tests', 'fa-x-ray'),
  ('/lab_result', 'lab_result', 'Lab Results', 'fa-file-medical-alt'),
  ('/lab_request', 'lab_request', 'Lab Requests', 'fa-file-medical')
  ] -%}

{% set navigation_treatment = [
  ('/treatment', 'treatment', 'Treatments', 'fa-syringe'),
  ('/treatment_type', 'treatment_type', 'Treatment Types', 'fa-syringe')
  ] -%}
{% endif -%}

{% set active_page = active_page|default('index') -%}

<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
    
    <!-- Brand Logo -->
    <a href="{{ url_for('static', path='/index3.html') }}" class="brand-link text-center">
      <i class="fa fa-hospital"></i>
      <span class="brand-text font-weight-light">HOMIS-HMS | {{user_type.upper()}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ url_for('static', path='/img/user2-160x160.jpg') }}" class="rounded-circle-2 border" alt="User Image" id="sidebar_picture">
        </div>
        <div class="info mr-1">
          <a href="/{{user_type}}/me" class="d-block text-truncate" id="sidebar_full_name"></a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


          {% if navigation_core -%}
          <li class="nav-header">CORE</li>
          {% endif -%}
          {% for href, id, caption, icon in navigation_core -%}

          <li class="nav-item">
            <a href="/{{user_type}}{{ href|e }}" 

            {% if id == active_page %} 
            class="nav-link active" 
            {% else %}
            class="nav-link" 
            {% endif %}>
              <i class="nav-icon fas {{ icon|e }}"></i>
              <p>{{ caption|e }}</p>
            </a>
          </li>

          {% endfor %}

          {% if navigation_treatment -%}
          <li class="nav-header">TREATMENT</li>
          {% endif -%}
          {% for href, id, caption, icon in navigation_treatment -%}

          <li class="nav-item">
            <a href="/{{user_type}}{{ href|e }}" 

            {% if id == active_page %} 
            class="nav-link active" 
            {% else %}
            class="nav-link" 
            {% endif %}>
              <i class="nav-icon fas {{ icon|e }}"></i>
              <p>{{ caption|e }}</p>
            </a>
          </li>

          {% endfor %}

          {% if navigation_lab -%}
          <li class="nav-header">LABORATORY</li>
          {% endif -%}
          {% for href, id, caption, icon in navigation_lab -%}

          <li class="nav-item">
            <a href="/{{user_type}}{{ href|e }}" 

            {% if id == active_page %} 
            class="nav-link active" 
            {% else %}
            class="nav-link" 
            {% endif %}>
              <i class="nav-icon fas {{ icon|e }}"></i>
              <p>{{ caption|e }}</p>
            </a>
          </li>

          {% endfor %}

          {% if navigation_surgery -%}
          <li class="nav-header">SURGERY</li>
          {% endif -%}
          {% for href, id, caption, icon in navigation_surgery -%}

          <li class="nav-item">
            <a href="/{{user_type}}{{ href|e }}" 

            {% if id == active_page %} 
            class="nav-link active" 
            {% else %}
            class="nav-link" 
            {% endif %}>
              <i class="nav-icon fas {{ icon|e }}"></i>
              <p>{{ caption|e }}</p>
            </a>
          </li>

          {% endfor %}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->

    </div>
    <!-- /.sidebar -->

    <!-- Sidebar Custom -->
    <div class="sidebar-custom">
      <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
      <a class="btn btn-danger hide-on-collapse pos-right" onclick="logout()">Log out <i class="fa fa-sign-out-alt"></i></a>
    </div>
      <!-- /.sidebar-custom -->
  </aside>