{% set isSysAdmin = request.url.path.split('/')[2] == 'sysadmin' -%}


<nav class="main-header navbar navbar-expand navbar-white navbar-light">

{% if user_type == 'admin' -%}
<!-- Left navbar links -->
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav">

      <!-- Sidebar Toggler -->
      <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button">
              <i class="fas fa-bars"></i>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin" role="button">
            <i class="fas fa-home"></i>
            <span class="d-inline-block d-md-none ml-1 ml-md-0">Home</span>
        </a>
      </li>

      <!-- Hospital Core -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle {{'text-primary' if not isSysAdmin}}"
          >Hospital Core</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">Patient Management</a></li>
              <li><a href="/admin" class="dropdown-item {{'active' if not isSysAdmin}}">Treatment Management</a></li>
              <li><a href="#" class="dropdown-item">Pharmacy</a></li>
              <li><a href="#" class="dropdown-item">Medical Record</a></li>
              <li><a href="#" class="dropdown-item">Doctors Management</a></li>
              <li><a href="#" class="dropdown-item">Visitors Management</a></li>
          </ul>
      </li>

      <!-- Human Resource -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle"
          >Human Resource</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">Core Human Capital Management</a></li>
              <li><a href="#" class="dropdown-item">Recruitment Management</a></li>
              <li><a href="#" class="dropdown-item">Time & Attendance</a></li>
              <li><a href="#" class="dropdown-item">Performance Management</a></li>
          </ul>
      </li>

      <!-- Finance -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle"
          >Finance</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">General Ledger</a></li>
              <li><a href="#" class="dropdown-item">Accounts Payable/Receivable</a></li>
              <li><a href="#" class="dropdown-item">Collection/Disbursement</a></li>
          </ul>
      </li>

      <!-- Logistics -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle"
          >Logistics</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">Procurement Management</a></li>
              <li><a href="#" class="dropdown-item">Warehousing Management</a></li>
              <li><a href="#" class="dropdown-item">Asset Management</a></li>
              <li><a href="#" class="dropdown-item">Project Management</a></li>
          </ul>
      </li>


      <!-- SysAdmin -->
      <li class="nav-item">
        <a class="nav-link {{'text-primary' if isSysAdmin}}" href="/admin/sysadmin" role="button">
            <span>SysAdmin</span>
        </a>
      </li>
  </ul>
</div>  
{% endif -%}


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <!-- Navbar Search -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->

      <!-- Messages Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">

            <div class="media">
              <img src="{{ url_for('static', path='/img/user1-128x128.jpg') }}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>

          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li> -->

      <!-- Notifications Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li> -->

      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            
        <!-- User Menu -->
        <li class="nav-item dropdown show">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="true">
                <i class="fas fa-user-circle"></i>
                <!-- <span class="badge badge-warning navbar-badge">15</span> -->
            </a>
    
            <div class="dropdown-menu dropdown-menu-right" style="left: inherit; right: 0px;">
                <a role="button" class="dropdown-item d-flex align-items-center" onclick="location.replace(`${BASE_URL}${user_type}/me`)">
                    <div class="mr-3" style="width: 1.25rem">
                        <i class="fas fa-user"></i>
                    </div>
                    <span>Profile</span>
                </a>
                <a href="#" class="dropdown-item d-flex align-items-center">
                    <div class="mr-3" style="width: 1.25rem">
                        <i class="fas fa-cog"></i>
                    </div>
                    <span>Settings</span>
                </a>
    
                <div class="dropdown-divider"></div>
                
                <a role="button" class="dropdown-item d-flex align-items-center" onclick="logout()">
                    <div class="mr-3" style="width: 1.25rem">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <span>Log out</span>
                </a>
            </div>
        </li>
    </ul>
      
    </ul>
    <!-- /.navbar-nav -->
  </nav>