<nav class="main-header navbar navbar-expand navbar-white navbar-light">

{% if user_type == 'admin' -%}
<!-- Left navbar links -->
<div class="collapse navbar-collapse order-3" id="navbarCollapse">
  <ul class="navbar-nav">

      <!-- Sidebar Toggler -->
      <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button">
              <i class="fas fa-bars"></i>
          </a>
      </li>

      <!-- Hospital Core -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle text-primary"
          >Hospital Core</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">Patient Management</a></li>
              <li><a href="#" class="dropdown-item active">Treatment Management</a></li>
              <li><a href="#" class="dropdown-item">Pharmacy</a></li>
              <li><a href="#" class="dropdown-item">Medical Record</a></li>
              <li><a href="#" class="dropdown-item">Doctors Management</a></li>
              <li><a href="#" class="dropdown-item">Visitors Management</a></li>
          </ul>
      </li>

      <!-- Human Resource -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle"
          >Human Resource</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">Core Human Capital Management</a></li>
              <li><a href="#" class="dropdown-item">Recruitment Management</a></li>
              <li><a href="#" class="dropdown-item">Time & Attendance</a></li>
              <li><a href="#" class="dropdown-item">Performance Management</a></li>
          </ul>
      </li>

      <!-- Finance -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle"
          >Finance</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">General Ledger</a></li>
              <li><a href="#" class="dropdown-item">Accounts Payable/Receivable</a></li>
              <li><a href="#" class="dropdown-item">Collection/Disbursement</a></li>
          </ul>
      </li>

      <!-- Logistics -->
      <li class="nav-item dropdown">
          <a 
              href="#" 
              data-toggle="dropdown" 
              class="nav-link dropdown-toggle"
          >Logistics</a>
          
          <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="#" class="dropdown-item">Procurement Management</a></li>
              <li><a href="#" class="dropdown-item">Warehousing Management</a></li>
              <li><a href="#" class="dropdown-item">Asset Management</a></li>
              <li><a href="#" class="dropdown-item">Project Management</a></li>
          </ul>
      </li>
  </ul>
</div>  
{% endif -%}


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <!-- Navbar Search -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->

      <!-- Messages Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">

            <div class="media">
              <img src="{{ url_for('static', path='/img/user1-128x128.jpg') }}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>

          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li> -->

      <!-- Notifications Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li> -->
      
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
          <!-- <span class="badge badge-warning navbar-badge">15</span> -->
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" onclick="location.replace(`${BASE_URL}${user_type}/me`)">
            <i class="fas fa-user-circle"></i> Profile
            <!-- <span class="float-right text-muted text-sm">3 mins</span> -->
          </a>
          <div class="dropdown-divider"></div>
          <a  class="dropdown-item" role="button" onclick="logout()"><i class="fa fa-sign-out-alt"></i> Log out</a>
        </div>
      </li>
    </ul>
    <!-- /.navbar-nav -->
  </nav>